# coding: utf-8

"""
    NSX-T Manager API

    VMware NSX-T Manager REST API  # noqa: E501

    OpenAPI spec version: 3.1.0.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ManagementPlaneAPISecurityIntrusionServicesIdsProfilesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_ids_profile(self, ids_profile_id, **kwargs):  # noqa: E501
        """Get IDSProfile  # noqa: E501

        Returns information about the specified IDSProfile.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_ids_profile(ids_profile_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ids_profile_id: IDSProfile Id (required)
        :return: IDSProfile
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_ids_profile_with_http_info(ids_profile_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_ids_profile_with_http_info(ids_profile_id, **kwargs)  # noqa: E501
            return data

    def get_ids_profile_with_http_info(self, ids_profile_id, **kwargs):  # noqa: E501
        """Get IDSProfile  # noqa: E501

        Returns information about the specified IDSProfile.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_ids_profile_with_http_info(ids_profile_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ids_profile_id: IDSProfile Id (required)
        :return: IDSProfile
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ids_profile_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_ids_profile" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ids_profile_id' is set
        if ('ids_profile_id' not in params or
                params['ids_profile_id'] is None):
            raise ValueError("Missing the required parameter `ids_profile_id` when calling `get_ids_profile`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'ids_profile_id' in params:
            path_params['ids-profile-id'] = params['ids_profile_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intrusion-services/profiles/{ids-profile-id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IDSProfile',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
