# coding: utf-8

"""
    NSX-T Manager API

    VMware NSX-T Manager REST API  # noqa: E501

    OpenAPI spec version: 3.1.0.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ManagementPlaneAPIGroupingObjectsIPSetsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_remove_ip_address(self, body, action, ip_set_id, **kwargs):  # noqa: E501
        """Add a IP address to a IPSet  # noqa: E501

        Add/Remove an individual IP address to an IPSet   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_remove_ip_address(body, action, ip_set_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IPAddressElement body: (required)
        :param str action: Specifies addition or removal action (required)
        :param str ip_set_id: IP Set Id (required)
        :return: IPAddressElement
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_remove_ip_address_with_http_info(body, action, ip_set_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_remove_ip_address_with_http_info(body, action, ip_set_id, **kwargs)  # noqa: E501
            return data

    def add_remove_ip_address_with_http_info(self, body, action, ip_set_id, **kwargs):  # noqa: E501
        """Add a IP address to a IPSet  # noqa: E501

        Add/Remove an individual IP address to an IPSet   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_remove_ip_address_with_http_info(body, action, ip_set_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IPAddressElement body: (required)
        :param str action: Specifies addition or removal action (required)
        :param str ip_set_id: IP Set Id (required)
        :return: IPAddressElement
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'action', 'ip_set_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_remove_ip_address" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_remove_ip_address`")  # noqa: E501
        # verify the required parameter 'action' is set
        if ('action' not in params or
                params['action'] is None):
            raise ValueError("Missing the required parameter `action` when calling `add_remove_ip_address`")  # noqa: E501
        # verify the required parameter 'ip_set_id' is set
        if ('ip_set_id' not in params or
                params['ip_set_id'] is None):
            raise ValueError("Missing the required parameter `ip_set_id` when calling `add_remove_ip_address`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'ip_set_id' in params:
            path_params['ip-set-id'] = params['ip_set_id']  # noqa: E501

        query_params = []
        if 'action' in params:
            query_params.append(('action', params['action']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/ip-sets/{ip-set-id}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IPAddressElement',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_mac_set(self, body, **kwargs):  # noqa: E501
        """Create MACSet  # noqa: E501

        Creates a new MACSet that can group individual MAC addresses.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_mac_set(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MACSet body: (required)
        :return: MACSet
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_mac_set_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_mac_set_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_mac_set_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create MACSet  # noqa: E501

        Creates a new MACSet that can group individual MAC addresses.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_mac_set_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MACSet body: (required)
        :return: MACSet
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_mac_set" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_mac_set`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/mac-sets', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='MACSet',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_ip_set(self, ip_set_id, **kwargs):  # noqa: E501
        """Delete IPSet  # noqa: E501

        Deletes the specified IPSet.  By default, if the IPSet is added to an NSGroup, it won't be deleted. In such situations, pass \"force=true\" as query param to force delete the IPSet.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_ip_set(ip_set_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ip_set_id: IPSet Id (required)
        :param bool force: Force delete the resource even if it is being used somewhere 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_ip_set_with_http_info(ip_set_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_ip_set_with_http_info(ip_set_id, **kwargs)  # noqa: E501
            return data

    def delete_ip_set_with_http_info(self, ip_set_id, **kwargs):  # noqa: E501
        """Delete IPSet  # noqa: E501

        Deletes the specified IPSet.  By default, if the IPSet is added to an NSGroup, it won't be deleted. In such situations, pass \"force=true\" as query param to force delete the IPSet.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_ip_set_with_http_info(ip_set_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ip_set_id: IPSet Id (required)
        :param bool force: Force delete the resource even if it is being used somewhere 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ip_set_id', 'force']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_ip_set" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ip_set_id' is set
        if ('ip_set_id' not in params or
                params['ip_set_id'] is None):
            raise ValueError("Missing the required parameter `ip_set_id` when calling `delete_ip_set`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'ip_set_id' in params:
            path_params['ip-set-id'] = params['ip_set_id']  # noqa: E501

        query_params = []
        if 'force' in params:
            query_params.append(('force', params['force']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/ip-sets/{ip-set-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_ip_addresses(self, ip_set_id, **kwargs):  # noqa: E501
        """Get all IPAddresses in a IPSet  # noqa: E501

        List all IP addresses in a IPSet   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_ip_addresses(ip_set_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ip_set_id: IP Set Id (required)
        :return: IPAddressElementListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_ip_addresses_with_http_info(ip_set_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_ip_addresses_with_http_info(ip_set_id, **kwargs)  # noqa: E501
            return data

    def get_ip_addresses_with_http_info(self, ip_set_id, **kwargs):  # noqa: E501
        """Get all IPAddresses in a IPSet  # noqa: E501

        List all IP addresses in a IPSet   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_ip_addresses_with_http_info(ip_set_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ip_set_id: IP Set Id (required)
        :return: IPAddressElementListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ip_set_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_ip_addresses" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ip_set_id' is set
        if ('ip_set_id' not in params or
                params['ip_set_id'] is None):
            raise ValueError("Missing the required parameter `ip_set_id` when calling `get_ip_addresses`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'ip_set_id' in params:
            path_params['ip-set-id'] = params['ip_set_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/ip-sets/{ip-set-id}/members', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IPAddressElementListResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_ip_sets(self, **kwargs):  # noqa: E501
        """List IPSets  # noqa: E501

        Returns paginated list of IPSets   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_ip_sets(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included in query result
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: IPSetListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_ip_sets_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_ip_sets_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_ip_sets_with_http_info(self, **kwargs):  # noqa: E501
        """List IPSets  # noqa: E501

        Returns paginated list of IPSets   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_ip_sets_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included in query result
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: IPSetListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cursor', 'included_fields', 'page_size', 'sort_ascending', 'sort_by']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_ip_sets" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'included_fields' in params:
            query_params.append(('included_fields', params['included_fields']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'sort_ascending' in params:
            query_params.append(('sort_ascending', params['sort_ascending']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sort_by', params['sort_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/ip-sets', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IPSetListResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def read_ip_set(self, ip_set_id, **kwargs):  # noqa: E501
        """Read IPSet  # noqa: E501

        Returns information about the specified IPSet   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.read_ip_set(ip_set_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ip_set_id: IPSet Id (required)
        :return: IPSet
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.read_ip_set_with_http_info(ip_set_id, **kwargs)  # noqa: E501
        else:
            (data) = self.read_ip_set_with_http_info(ip_set_id, **kwargs)  # noqa: E501
            return data

    def read_ip_set_with_http_info(self, ip_set_id, **kwargs):  # noqa: E501
        """Read IPSet  # noqa: E501

        Returns information about the specified IPSet   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.read_ip_set_with_http_info(ip_set_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ip_set_id: IPSet Id (required)
        :return: IPSet
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ip_set_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method read_ip_set" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ip_set_id' is set
        if ('ip_set_id' not in params or
                params['ip_set_id'] is None):
            raise ValueError("Missing the required parameter `ip_set_id` when calling `read_ip_set`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'ip_set_id' in params:
            path_params['ip-set-id'] = params['ip_set_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/ip-sets/{ip-set-id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IPSet',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_ip_set(self, body, ip_set_id, **kwargs):  # noqa: E501
        """Update IPSet  # noqa: E501

        Updates the specified IPSet. Modifiable parameters include description, display_name and ip_addresses.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_ip_set(body, ip_set_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IPSet body: (required)
        :param str ip_set_id: IPSet Id (required)
        :return: IPSet
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_ip_set_with_http_info(body, ip_set_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_ip_set_with_http_info(body, ip_set_id, **kwargs)  # noqa: E501
            return data

    def update_ip_set_with_http_info(self, body, ip_set_id, **kwargs):  # noqa: E501
        """Update IPSet  # noqa: E501

        Updates the specified IPSet. Modifiable parameters include description, display_name and ip_addresses.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_ip_set_with_http_info(body, ip_set_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IPSet body: (required)
        :param str ip_set_id: IPSet Id (required)
        :return: IPSet
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'ip_set_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_ip_set" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_ip_set`")  # noqa: E501
        # verify the required parameter 'ip_set_id' is set
        if ('ip_set_id' not in params or
                params['ip_set_id'] is None):
            raise ValueError("Missing the required parameter `ip_set_id` when calling `update_ip_set`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'ip_set_id' in params:
            path_params['ip-set-id'] = params['ip_set_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/ip-sets/{ip-set-id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IPSet',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
