# coding: utf-8

"""
    NSX-T Manager API

    VMware NSX-T Manager REST API  # noqa: E501

    OpenAPI spec version: 3.1.0.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ManagementPlaneAPISecurityServiceConfigurationApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_service_config(self, body, **kwargs):  # noqa: E501
        """Create service config  # noqa: E501

        Creates a new service config that can group profiles and configs   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_service_config(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ServiceConfig body: (required)
        :return: ServiceConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_service_config_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_service_config_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_service_config_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create service config  # noqa: E501

        Creates a new service config that can group profiles and configs   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_service_config_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ServiceConfig body: (required)
        :return: ServiceConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_service_config" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_service_config`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/service-configs', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ServiceConfig',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_service_config(self, config_set_id, **kwargs):  # noqa: E501
        """Delete Service Config  # noqa: E501

        Deletes the specified service config   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_service_config(config_set_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str config_set_id: service Ccnfig Id (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_service_config_with_http_info(config_set_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_service_config_with_http_info(config_set_id, **kwargs)  # noqa: E501
            return data

    def delete_service_config_with_http_info(self, config_set_id, **kwargs):  # noqa: E501
        """Delete Service Config  # noqa: E501

        Deletes the specified service config   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_service_config_with_http_info(config_set_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str config_set_id: service Ccnfig Id (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['config_set_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_service_config" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'config_set_id' is set
        if ('config_set_id' not in params or
                params['config_set_id'] is None):
            raise ValueError("Missing the required parameter `config_set_id` when calling `delete_service_config`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'config_set_id' in params:
            path_params['config-set-id'] = params['config_set_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/service-configs/{config-set-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def effective_profiles(self, resource_id, resource_type, **kwargs):  # noqa: E501
        """Get Effective Profiles for an Entity  # noqa: E501

        Returns the effective profiles applied to the specified Resource.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.effective_profiles(resource_id, resource_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str resource_id: The resource for which the effective profiles are to be fetched (required)
        :param str resource_type: Valid Resource type in effective profiles API (required)
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included in query result
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: EffectiveProfileListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.effective_profiles_with_http_info(resource_id, resource_type, **kwargs)  # noqa: E501
        else:
            (data) = self.effective_profiles_with_http_info(resource_id, resource_type, **kwargs)  # noqa: E501
            return data

    def effective_profiles_with_http_info(self, resource_id, resource_type, **kwargs):  # noqa: E501
        """Get Effective Profiles for an Entity  # noqa: E501

        Returns the effective profiles applied to the specified Resource.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.effective_profiles_with_http_info(resource_id, resource_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str resource_id: The resource for which the effective profiles are to be fetched (required)
        :param str resource_type: Valid Resource type in effective profiles API (required)
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included in query result
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: EffectiveProfileListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['resource_id', 'resource_type', 'cursor', 'included_fields', 'page_size', 'sort_ascending', 'sort_by']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method effective_profiles" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'resource_id' is set
        if ('resource_id' not in params or
                params['resource_id'] is None):
            raise ValueError("Missing the required parameter `resource_id` when calling `effective_profiles`")  # noqa: E501
        # verify the required parameter 'resource_type' is set
        if ('resource_type' not in params or
                params['resource_type'] is None):
            raise ValueError("Missing the required parameter `resource_type` when calling `effective_profiles`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'included_fields' in params:
            query_params.append(('included_fields', params['included_fields']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'resource_id' in params:
            query_params.append(('resource_id', params['resource_id']))  # noqa: E501
        if 'resource_type' in params:
            query_params.append(('resource_type', params['resource_type']))  # noqa: E501
        if 'sort_ascending' in params:
            query_params.append(('sort_ascending', params['sort_ascending']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sort_by', params['sort_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/service-configs/effective-profiles', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EffectiveProfileListResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_service_configs(self, **kwargs):  # noqa: E501
        """List service configs  # noqa: E501

        List of all service configs.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_service_configs(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included in query result
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param str profile_type: Fetch ServiceConfig for the given attribute profile_type
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: ServiceConfigListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_service_configs_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_service_configs_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_service_configs_with_http_info(self, **kwargs):  # noqa: E501
        """List service configs  # noqa: E501

        List of all service configs.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_service_configs_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included in query result
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param str profile_type: Fetch ServiceConfig for the given attribute profile_type
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: ServiceConfigListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cursor', 'included_fields', 'page_size', 'profile_type', 'sort_ascending', 'sort_by']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_service_configs" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'included_fields' in params:
            query_params.append(('included_fields', params['included_fields']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'profile_type' in params:
            query_params.append(('profile_type', params['profile_type']))  # noqa: E501
        if 'sort_ascending' in params:
            query_params.append(('sort_ascending', params['sort_ascending']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sort_by', params['sort_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/service-configs', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ServiceConfigListResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def read_service_config(self, config_set_id, **kwargs):  # noqa: E501
        """Read Service Config  # noqa: E501

        Returns information about the specified Service Config.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.read_service_config(config_set_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str config_set_id: Service Config Id (required)
        :return: ServiceConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.read_service_config_with_http_info(config_set_id, **kwargs)  # noqa: E501
        else:
            (data) = self.read_service_config_with_http_info(config_set_id, **kwargs)  # noqa: E501
            return data

    def read_service_config_with_http_info(self, config_set_id, **kwargs):  # noqa: E501
        """Read Service Config  # noqa: E501

        Returns information about the specified Service Config.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.read_service_config_with_http_info(config_set_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str config_set_id: Service Config Id (required)
        :return: ServiceConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['config_set_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method read_service_config" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'config_set_id' is set
        if ('config_set_id' not in params or
                params['config_set_id'] is None):
            raise ValueError("Missing the required parameter `config_set_id` when calling `read_service_config`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'config_set_id' in params:
            path_params['config-set-id'] = params['config_set_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/service-configs/{config-set-id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ServiceConfig',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def service_config_batch_operation(self, body, **kwargs):  # noqa: E501
        """Creates/Updates service configs sent in batch request  # noqa: E501

        Creates/Updates new service configs sent in batch request. This API returns ALL the service configs that are created/updated.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.service_config_batch_operation(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ServiceConfigList body: (required)
        :return: ServiceConfigListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.service_config_batch_operation_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.service_config_batch_operation_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def service_config_batch_operation_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates/Updates service configs sent in batch request  # noqa: E501

        Creates/Updates new service configs sent in batch request. This API returns ALL the service configs that are created/updated.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.service_config_batch_operation_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ServiceConfigList body: (required)
        :return: ServiceConfigListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method service_config_batch_operation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `service_config_batch_operation`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/service-configs/batch', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ServiceConfigListResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_service_config(self, body, config_set_id, **kwargs):  # noqa: E501
        """Update service config  # noqa: E501

        Updates the specified ServiceConfig.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_service_config(body, config_set_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ServiceConfig body: (required)
        :param str config_set_id: service config Id (required)
        :return: ServiceConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_service_config_with_http_info(body, config_set_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_service_config_with_http_info(body, config_set_id, **kwargs)  # noqa: E501
            return data

    def update_service_config_with_http_info(self, body, config_set_id, **kwargs):  # noqa: E501
        """Update service config  # noqa: E501

        Updates the specified ServiceConfig.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_service_config_with_http_info(body, config_set_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ServiceConfig body: (required)
        :param str config_set_id: service config Id (required)
        :return: ServiceConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'config_set_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_service_config" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_service_config`")  # noqa: E501
        # verify the required parameter 'config_set_id' is set
        if ('config_set_id' not in params or
                params['config_set_id'] is None):
            raise ValueError("Missing the required parameter `config_set_id` when calling `update_service_config`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'config_set_id' in params:
            path_params['config-set-id'] = params['config_set_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/service-configs/{config-set-id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ServiceConfig',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
