# coding: utf-8

"""
    NSX-T Manager API

    VMware NSX-T Manager REST API  # noqa: E501

    OpenAPI spec version: 3.1.0.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ManagementPlaneAPINetworkingVPNL2VPNSessionsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_l2_vpn_session(self, body, **kwargs):  # noqa: E501
        """Create L2VPN session  # noqa: E501

        Create L2VPN session and bind to a L2VPNService  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_l2_vpn_session(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param L2VpnSession body: (required)
        :return: L2VpnSession
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_l2_vpn_session_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_l2_vpn_session_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_l2_vpn_session_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create L2VPN session  # noqa: E501

        Create L2VPN session and bind to a L2VPNService  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_l2_vpn_session_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param L2VpnSession body: (required)
        :return: L2VpnSession
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_l2_vpn_session" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_l2_vpn_session`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/vpn/l2vpn/sessions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='L2VpnSession',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_l2_vpn_session(self, l2vpn_session_id, **kwargs):  # noqa: E501
        """Delete a L2VPN session  # noqa: E501

        Delete a specific L2VPN session. If there are any logical switch ports attached to it, those needs to be deleted first.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_l2_vpn_session(l2vpn_session_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str l2vpn_session_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_l2_vpn_session_with_http_info(l2vpn_session_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_l2_vpn_session_with_http_info(l2vpn_session_id, **kwargs)  # noqa: E501
            return data

    def delete_l2_vpn_session_with_http_info(self, l2vpn_session_id, **kwargs):  # noqa: E501
        """Delete a L2VPN session  # noqa: E501

        Delete a specific L2VPN session. If there are any logical switch ports attached to it, those needs to be deleted first.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_l2_vpn_session_with_http_info(l2vpn_session_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str l2vpn_session_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['l2vpn_session_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_l2_vpn_session" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'l2vpn_session_id' is set
        if ('l2vpn_session_id' not in params or
                params['l2vpn_session_id'] is None):
            raise ValueError("Missing the required parameter `l2vpn_session_id` when calling `delete_l2_vpn_session`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'l2vpn_session_id' in params:
            path_params['l2vpn-session-id'] = params['l2vpn_session_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/vpn/l2vpn/sessions/{l2vpn-session-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_l2_vpn_session(self, l2vpn_session_id, **kwargs):  # noqa: E501
        """Get a L2VPN session  # noqa: E501

        Get a specific L2VPN session  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_l2_vpn_session(l2vpn_session_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str l2vpn_session_id: (required)
        :return: L2VpnSession
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_l2_vpn_session_with_http_info(l2vpn_session_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_l2_vpn_session_with_http_info(l2vpn_session_id, **kwargs)  # noqa: E501
            return data

    def get_l2_vpn_session_with_http_info(self, l2vpn_session_id, **kwargs):  # noqa: E501
        """Get a L2VPN session  # noqa: E501

        Get a specific L2VPN session  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_l2_vpn_session_with_http_info(l2vpn_session_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str l2vpn_session_id: (required)
        :return: L2VpnSession
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['l2vpn_session_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_l2_vpn_session" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'l2vpn_session_id' is set
        if ('l2vpn_session_id' not in params or
                params['l2vpn_session_id'] is None):
            raise ValueError("Missing the required parameter `l2vpn_session_id` when calling `get_l2_vpn_session`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'l2vpn_session_id' in params:
            path_params['l2vpn-session-id'] = params['l2vpn_session_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/vpn/l2vpn/sessions/{l2vpn-session-id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='L2VpnSession',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_l2_vpn_session_peer_codes(self, l2vpn_session_id, **kwargs):  # noqa: E501
        """Get peer codes for the L2VpnSession  # noqa: E501

        Get peer codes for the L2VPN session to program the remote side of the tunnel.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_l2_vpn_session_peer_codes(l2vpn_session_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str l2vpn_session_id: (required)
        :return: L2VpnSessionPeerCodes
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_l2_vpn_session_peer_codes_with_http_info(l2vpn_session_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_l2_vpn_session_peer_codes_with_http_info(l2vpn_session_id, **kwargs)  # noqa: E501
            return data

    def get_l2_vpn_session_peer_codes_with_http_info(self, l2vpn_session_id, **kwargs):  # noqa: E501
        """Get peer codes for the L2VpnSession  # noqa: E501

        Get peer codes for the L2VPN session to program the remote side of the tunnel.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_l2_vpn_session_peer_codes_with_http_info(l2vpn_session_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str l2vpn_session_id: (required)
        :return: L2VpnSessionPeerCodes
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['l2vpn_session_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_l2_vpn_session_peer_codes" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'l2vpn_session_id' is set
        if ('l2vpn_session_id' not in params or
                params['l2vpn_session_id'] is None):
            raise ValueError("Missing the required parameter `l2vpn_session_id` when calling `get_l2_vpn_session_peer_codes`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'l2vpn_session_id' in params:
            path_params['l2vpn-session-id'] = params['l2vpn_session_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/vpn/l2vpn/sessions/{l2vpn-session-id}/peer-codes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='L2VpnSessionPeerCodes',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_l2_vpn_sessions(self, **kwargs):  # noqa: E501
        """Get all L2VPN sessions  # noqa: E501

        Get paginated list of all L2VPN sessions  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_l2_vpn_sessions(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included in query result
        :param str l2vpn_service_id: Id of the L2Vpn Service
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: L2VpnSessionListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_l2_vpn_sessions_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_l2_vpn_sessions_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_l2_vpn_sessions_with_http_info(self, **kwargs):  # noqa: E501
        """Get all L2VPN sessions  # noqa: E501

        Get paginated list of all L2VPN sessions  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_l2_vpn_sessions_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included in query result
        :param str l2vpn_service_id: Id of the L2Vpn Service
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: L2VpnSessionListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cursor', 'included_fields', 'l2vpn_service_id', 'page_size', 'sort_ascending', 'sort_by']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_l2_vpn_sessions" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'included_fields' in params:
            query_params.append(('included_fields', params['included_fields']))  # noqa: E501
        if 'l2vpn_service_id' in params:
            query_params.append(('l2vpn_service_id', params['l2vpn_service_id']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'sort_ascending' in params:
            query_params.append(('sort_ascending', params['sort_ascending']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sort_by', params['sort_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/vpn/l2vpn/sessions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='L2VpnSessionListResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_l2_vpn_session(self, body, l2vpn_session_id, **kwargs):  # noqa: E501
        """Edit a L2VPN session  # noqa: E501

        Edit a specific L2VPN session  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_l2_vpn_session(body, l2vpn_session_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param L2VpnSession body: (required)
        :param str l2vpn_session_id: (required)
        :return: L2VpnSession
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_l2_vpn_session_with_http_info(body, l2vpn_session_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_l2_vpn_session_with_http_info(body, l2vpn_session_id, **kwargs)  # noqa: E501
            return data

    def update_l2_vpn_session_with_http_info(self, body, l2vpn_session_id, **kwargs):  # noqa: E501
        """Edit a L2VPN session  # noqa: E501

        Edit a specific L2VPN session  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_l2_vpn_session_with_http_info(body, l2vpn_session_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param L2VpnSession body: (required)
        :param str l2vpn_session_id: (required)
        :return: L2VpnSession
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'l2vpn_session_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_l2_vpn_session" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_l2_vpn_session`")  # noqa: E501
        # verify the required parameter 'l2vpn_session_id' is set
        if ('l2vpn_session_id' not in params or
                params['l2vpn_session_id'] is None):
            raise ValueError("Missing the required parameter `l2vpn_session_id` when calling `update_l2_vpn_session`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'l2vpn_session_id' in params:
            path_params['l2vpn-session-id'] = params['l2vpn_session_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/vpn/l2vpn/sessions/{l2vpn-session-id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='L2VpnSession',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
