# coding: utf-8

"""
    NSX-T Manager API

    VMware NSX-T Manager REST API  # noqa: E501

    OpenAPI spec version: 3.1.0.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class SystemAdministrationConfigurationFabricInventoryVirtualSwitchesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def list_virtual_switches(self, **kwargs):  # noqa: E501
        """Return the List of Virtual Switches  # noqa: E501

        Returns information about all virtual switches based on the request parameters.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_virtual_switches(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cm_local_id: Local Id of the virtual switch
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str discovered_node_id: Discovered node ID
        :param str display_name: Display name of the virtual switch
        :param str external_id: External id of the virtual switch
        :param str included_fields: Comma separated list of fields that should be included in query result
        :param str origin_id: ID of the compute manager
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :param str uuid: UUID of the switch
        :return: VirtualSwitchListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_virtual_switches_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_virtual_switches_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_virtual_switches_with_http_info(self, **kwargs):  # noqa: E501
        """Return the List of Virtual Switches  # noqa: E501

        Returns information about all virtual switches based on the request parameters.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_virtual_switches_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cm_local_id: Local Id of the virtual switch
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str discovered_node_id: Discovered node ID
        :param str display_name: Display name of the virtual switch
        :param str external_id: External id of the virtual switch
        :param str included_fields: Comma separated list of fields that should be included in query result
        :param str origin_id: ID of the compute manager
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :param str uuid: UUID of the switch
        :return: VirtualSwitchListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cm_local_id', 'cursor', 'discovered_node_id', 'display_name', 'external_id', 'included_fields', 'origin_id', 'page_size', 'sort_ascending', 'sort_by', 'uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_virtual_switches" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'cm_local_id' in params:
            query_params.append(('cm_local_id', params['cm_local_id']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'discovered_node_id' in params:
            query_params.append(('discovered_node_id', params['discovered_node_id']))  # noqa: E501
        if 'display_name' in params:
            query_params.append(('display_name', params['display_name']))  # noqa: E501
        if 'external_id' in params:
            query_params.append(('external_id', params['external_id']))  # noqa: E501
        if 'included_fields' in params:
            query_params.append(('included_fields', params['included_fields']))  # noqa: E501
        if 'origin_id' in params:
            query_params.append(('origin_id', params['origin_id']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'sort_ascending' in params:
            query_params.append(('sort_ascending', params['sort_ascending']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sort_by', params['sort_by']))  # noqa: E501
        if 'uuid' in params:
            query_params.append(('uuid', params['uuid']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/fabric/virtual-switches', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='VirtualSwitchListResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
