# coding: utf-8

"""
    NSX-T Manager API

    VMware NSX-T Manager REST API  # noqa: E501

    OpenAPI spec version: 3.1.0.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class SystemAdministrationMonitoringErrorResolverApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_error_resolver_info(self, error_id, **kwargs):  # noqa: E501
        """Fetches metadata about the given error_id  # noqa: E501

        Returns some metadata about the given error_id. This includes information of whether there is a resolver present for the given error_id and its associated user input data   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_error_resolver_info(error_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str error_id: (required)
        :return: ErrorResolverInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_error_resolver_info_with_http_info(error_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_error_resolver_info_with_http_info(error_id, **kwargs)  # noqa: E501
            return data

    def get_error_resolver_info_with_http_info(self, error_id, **kwargs):  # noqa: E501
        """Fetches metadata about the given error_id  # noqa: E501

        Returns some metadata about the given error_id. This includes information of whether there is a resolver present for the given error_id and its associated user input data   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_error_resolver_info_with_http_info(error_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str error_id: (required)
        :return: ErrorResolverInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['error_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_error_resolver_info" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'error_id' is set
        if ('error_id' not in params or
                params['error_id'] is None):
            raise ValueError("Missing the required parameter `error_id` when calling `get_error_resolver_info`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'error_id' in params:
            path_params['error_id'] = params['error_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/error-resolver/{error_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ErrorResolverInfo',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_error_resolver_info(self, **kwargs):  # noqa: E501
        """Fetches a list of metadata for all the registered error resolvers  # noqa: E501

        Returns a list of metadata for all the error resolvers registered.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_error_resolver_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ErrorResolverInfoList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_error_resolver_info_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_error_resolver_info_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_error_resolver_info_with_http_info(self, **kwargs):  # noqa: E501
        """Fetches a list of metadata for all the registered error resolvers  # noqa: E501

        Returns a list of metadata for all the error resolvers registered.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_error_resolver_info_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ErrorResolverInfoList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_error_resolver_info" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/error-resolver', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ErrorResolverInfoList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def resolve_error_resolve_error(self, body, **kwargs):  # noqa: E501
        """Resolves the error  # noqa: E501

        Invokes the corresponding error resolver for the given error(s) present in the payload   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.resolve_error_resolve_error(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ErrorResolverMetadataList body: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.resolve_error_resolve_error_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.resolve_error_resolve_error_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def resolve_error_resolve_error_with_http_info(self, body, **kwargs):  # noqa: E501
        """Resolves the error  # noqa: E501

        Invokes the corresponding error resolver for the given error(s) present in the payload   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.resolve_error_resolve_error_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ErrorResolverMetadataList body: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method resolve_error_resolve_error" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `resolve_error_resolve_error`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/error-resolver?action=resolve_error', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
