# coding: utf-8

"""
    NSX-T Manager API

    VMware NSX-T Manager REST API  # noqa: E501

    OpenAPI spec version: 3.1.0.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class SystemAdministrationConfigurationFabricNodesTransportNodeTunnelsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_tunnel(self, node_id, tunnel_name, **kwargs):  # noqa: E501
        """Tunnel properties  # noqa: E501

        Tunnel properties  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_tunnel(node_id, tunnel_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str node_id: ID of transport node (required)
        :param str tunnel_name: Tunnel name (required)
        :param str source: Data source type.
        :return: TunnelProperties
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_tunnel_with_http_info(node_id, tunnel_name, **kwargs)  # noqa: E501
        else:
            (data) = self.get_tunnel_with_http_info(node_id, tunnel_name, **kwargs)  # noqa: E501
            return data

    def get_tunnel_with_http_info(self, node_id, tunnel_name, **kwargs):  # noqa: E501
        """Tunnel properties  # noqa: E501

        Tunnel properties  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_tunnel_with_http_info(node_id, tunnel_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str node_id: ID of transport node (required)
        :param str tunnel_name: Tunnel name (required)
        :param str source: Data source type.
        :return: TunnelProperties
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['node_id', 'tunnel_name', 'source']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_tunnel" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'node_id' is set
        if ('node_id' not in params or
                params['node_id'] is None):
            raise ValueError("Missing the required parameter `node_id` when calling `get_tunnel`")  # noqa: E501
        # verify the required parameter 'tunnel_name' is set
        if ('tunnel_name' not in params or
                params['tunnel_name'] is None):
            raise ValueError("Missing the required parameter `tunnel_name` when calling `get_tunnel`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'node_id' in params:
            path_params['node-id'] = params['node_id']  # noqa: E501
        if 'tunnel_name' in params:
            path_params['tunnel-name'] = params['tunnel_name']  # noqa: E501

        query_params = []
        if 'source' in params:
            query_params.append(('source', params['source']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/transport-nodes/{node-id}/tunnels/{tunnel-name}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TunnelProperties',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def query_tunnels(self, node_id, **kwargs):  # noqa: E501
        """List of tunnels  # noqa: E501

        List of tunnels  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.query_tunnels(node_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str node_id: ID of transport node (required)
        :param str bfd_diagnostic_code: BFD diagnostic code of Tunnel as defined in RFC 5880
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included in query result
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param str remote_node_id:
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :param str source: Data source type.
        :param str status: Tunnel status
        :return: TunnelList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.query_tunnels_with_http_info(node_id, **kwargs)  # noqa: E501
        else:
            (data) = self.query_tunnels_with_http_info(node_id, **kwargs)  # noqa: E501
            return data

    def query_tunnels_with_http_info(self, node_id, **kwargs):  # noqa: E501
        """List of tunnels  # noqa: E501

        List of tunnels  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.query_tunnels_with_http_info(node_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str node_id: ID of transport node (required)
        :param str bfd_diagnostic_code: BFD diagnostic code of Tunnel as defined in RFC 5880
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included in query result
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param str remote_node_id:
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :param str source: Data source type.
        :param str status: Tunnel status
        :return: TunnelList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['node_id', 'bfd_diagnostic_code', 'cursor', 'included_fields', 'page_size', 'remote_node_id', 'sort_ascending', 'sort_by', 'source', 'status']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method query_tunnels" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'node_id' is set
        if ('node_id' not in params or
                params['node_id'] is None):
            raise ValueError("Missing the required parameter `node_id` when calling `query_tunnels`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'node_id' in params:
            path_params['node-id'] = params['node_id']  # noqa: E501

        query_params = []
        if 'bfd_diagnostic_code' in params:
            query_params.append(('bfd_diagnostic_code', params['bfd_diagnostic_code']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'included_fields' in params:
            query_params.append(('included_fields', params['included_fields']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'remote_node_id' in params:
            query_params.append(('remote_node_id', params['remote_node_id']))  # noqa: E501
        if 'sort_ascending' in params:
            query_params.append(('sort_ascending', params['sort_ascending']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sort_by', params['sort_by']))  # noqa: E501
        if 'source' in params:
            query_params.append(('source', params['source']))  # noqa: E501
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/transport-nodes/{node-id}/tunnels', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TunnelList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
