# coding: utf-8

"""
    NSX-T Manager API

    VMware NSX-T Manager REST API  # noqa: E501

    OpenAPI spec version: 3.1.0.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class SystemAdministrationMonitoringSystemHealthApplianceProcessApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def show_all_appliance_latency_data(self, **kwargs):  # noqa: E501
        """Show the details of latency status for all appliances  # noqa: E501

        Show the details of latency status in all appliances.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.show_all_appliance_latency_data(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included in query result
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: ApplianceLatencyListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.show_all_appliance_latency_data_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.show_all_appliance_latency_data_with_http_info(**kwargs)  # noqa: E501
            return data

    def show_all_appliance_latency_data_with_http_info(self, **kwargs):  # noqa: E501
        """Show the details of latency status for all appliances  # noqa: E501

        Show the details of latency status in all appliances.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.show_all_appliance_latency_data_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included in query result
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: ApplianceLatencyListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cursor', 'included_fields', 'page_size', 'sort_ascending', 'sort_by']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method show_all_appliance_latency_data" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'included_fields' in params:
            query_params.append(('included_fields', params['included_fields']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'sort_ascending' in params:
            query_params.append(('sort_ascending', params['sort_ascending']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sort_by', params['sort_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/systemhealth/appliances/latency/status', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApplianceLatencyListResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def show_all_appliance_process_data(self, **kwargs):  # noqa: E501
        """Show the details of process status in all appliances.  # noqa: E501

        Show the details of process status in all appliances.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.show_all_appliance_process_data(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included in query result
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: ApplianceProcessListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.show_all_appliance_process_data_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.show_all_appliance_process_data_with_http_info(**kwargs)  # noqa: E501
            return data

    def show_all_appliance_process_data_with_http_info(self, **kwargs):  # noqa: E501
        """Show the details of process status in all appliances.  # noqa: E501

        Show the details of process status in all appliances.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.show_all_appliance_process_data_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included in query result
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: ApplianceProcessListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cursor', 'included_fields', 'page_size', 'sort_ascending', 'sort_by']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method show_all_appliance_process_data" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'included_fields' in params:
            query_params.append(('included_fields', params['included_fields']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'sort_ascending' in params:
            query_params.append(('sort_ascending', params['sort_ascending']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sort_by', params['sort_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/systemhealth/appliances/process/status', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApplianceProcessListResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def show_appliance_latency_data(self, appliance_id, **kwargs):  # noqa: E501
        """Show the details of process status in given appliance  # noqa: E501

        Show the details of process status in given appliance.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.show_appliance_latency_data(appliance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str appliance_id: (required)
        :return: ApplianceLatencyData
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.show_appliance_latency_data_with_http_info(appliance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.show_appliance_latency_data_with_http_info(appliance_id, **kwargs)  # noqa: E501
            return data

    def show_appliance_latency_data_with_http_info(self, appliance_id, **kwargs):  # noqa: E501
        """Show the details of process status in given appliance  # noqa: E501

        Show the details of process status in given appliance.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.show_appliance_latency_data_with_http_info(appliance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str appliance_id: (required)
        :return: ApplianceLatencyData
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['appliance_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method show_appliance_latency_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'appliance_id' is set
        if ('appliance_id' not in params or
                params['appliance_id'] is None):
            raise ValueError("Missing the required parameter `appliance_id` when calling `show_appliance_latency_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'appliance_id' in params:
            path_params['appliance-id'] = params['appliance_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/systemhealth/appliances/{appliance-id}/latency/status', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApplianceLatencyData',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def show_appliance_process_data(self, appliance_id, **kwargs):  # noqa: E501
        """Show the details of process status in given appliance  # noqa: E501

        Show the details of process status in given appliance. The appliance id can be obtained by below APIs.   1. /api/v1/cluster/nodes   2. /api/v1/systemhealth/appliances/process/status   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.show_appliance_process_data(appliance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str appliance_id: (required)
        :return: ApplianceProcessData
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.show_appliance_process_data_with_http_info(appliance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.show_appliance_process_data_with_http_info(appliance_id, **kwargs)  # noqa: E501
            return data

    def show_appliance_process_data_with_http_info(self, appliance_id, **kwargs):  # noqa: E501
        """Show the details of process status in given appliance  # noqa: E501

        Show the details of process status in given appliance. The appliance id can be obtained by below APIs.   1. /api/v1/cluster/nodes   2. /api/v1/systemhealth/appliances/process/status   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.show_appliance_process_data_with_http_info(appliance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str appliance_id: (required)
        :return: ApplianceProcessData
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['appliance_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method show_appliance_process_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'appliance_id' is set
        if ('appliance_id' not in params or
                params['appliance_id'] is None):
            raise ValueError("Missing the required parameter `appliance_id` when calling `show_appliance_process_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'appliance_id' in params:
            path_params['appliance-id'] = params['appliance_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/systemhealth/appliances/{appliance-id}/process/status', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApplianceProcessData',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
