TF_VAR_vsphere_server=22.22.22.22
TF_VAR_vsphere_server_username=Administrator@vsphere.local
TF_VAR_vsphere_server_password=mypassword
TF_VAR_vsphere_server_allow_unverified_ssl=true
TF_VAR_vsphere_dc=dc01
TF_VAR_vsphere_ds=cl01-ds-vsan01
TF_VAR_vsphere_compute_cluster=cl01
TF_VAR_vsphere_host=esx03.mylab.io,esx04.mylab.io,esx06.mylab.io
TF_VAR_vsphere_folder=Test
TF_VAR_vsphere_resource_pool=Test
TF_VAR_vsphere_vm_network=cl01-vds01-pg-mgmt
TF_VAR_vsphere_network_dvs=cl01-vds01
TF_VAR_nsxt_manager=11.11.11.11
TF_VAR_nsxt_manager_vm_name=new-nsxt-test-a, new-nsxt-test-b, new-nsxt-test-c
TF_VAR_nsxt_manager_vm_hostname=new-nsx-t-a.mylab.io, new-nsx-t-b.mylab.io, new-nsx-t-c.mylab.io
TF_VAR_nsxt_manager_vm_deployment_size=small
TF_VAR_nsxt_manager_vm_cpu_count_override=0
TF_VAR_nsxt_manager_vm_memory_override=0
TF_VAR_nsxt_manager_ova_remote_path=https://myrepository.mylab.io/Repository/nsx-unified-appliance-3.1.3.1.0.18504672.ova
TF_VAR_vsphere_ova_allow_unverified_ssl=true
TF_VAR_nsxt_manager_vm_enable_ssh=true
TF_VAR_nsxt_manager_vm_enable_root_ssh=true
TF_VAR_nsxt_manager_vm_admin_username=admin
TF_VAR_nsxt_manager_vm_audit_username=audit
TF_VAR_nsxt_manager_vm_root_password=mypassword
TF_VAR_nsxt_manager_vm_admin_password=mypassword
TF_VAR_nsxt_manager_vm_audit_password=mypassword
TF_VAR_nsxt_manager_vm_ipv4_prefix=172.17.23.123/24, 172.17.23.124/24, 172.17.23.125/24
TF_VAR_nsxt_manager_vm_ipv4_gateway=172.17.23.1
TF_VAR_nsxt_manager_vm_dns_serverlist=172.17.23.1
TF_VAR_nsxt_manager_vm_ntp_serverlist=172.17.23.1
