TF_VAR_nsxt_manager_vip=11.11.11.11
TF_VAR_nsxt_manager_username=admin
TF_VAR_nsxt_manager_password=mypassword
TF_VAR_bgp_enabled=true
TF_VAR_nsxt_tier0_name=my-t0-gw01
TF_VAR_nsxt_route_type=TIER1_CONNECTED, TIER1_SERVICE_INTERFACE
